{% load static %}
<style>
    .footer a {
        color: white;
    }
</style>
<footer class="bg-dark text-white footer" style="color: #282d32;">
    <div class=" container footer-content pt-3 mt-5">
        <div class="row mt-0">
            <div class="col-4  mx-auto mb-3 p-1 left">
                <h6 class="text-uppercase font-weight-bold">DARAJA CIVIC INITIATIVE FORUM</h6>
                <hr class="green darken-4 accent-2 mb-3 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <hr>

                <img src="{% static 'assets/logo.png' %}" alt="" class="img-fluid mt-0 mb-0 footerlogo">
                <p class="text-justify"> Daraja Civic Initiatives Forum is a national NGO registered in Kenya with a
                    focus on
                    three thematic areas, namely; Early Childhood Care, Education & Development (ECCED),
                    governance (social accountability),and basic education.
                </p>
                <div class="col-md-6 col-lg-7 d-flex justify-content-around align-items-center w-75">
                    <a class="fb-ic"><i class="fab fb fa-facebook-f white-text mr-4"> </i></a>
                    <a class="tw-ic"><i class="fab tweet fa-twitter white-text mr-4"> </i></a>
                    <a class="li-ic"><i class="fab linked fa-linkedin-in white-text mr-4"> </i></a>
                    <a class="ins-ic"><i class="fab insta fa-instagram white-text"> </i></a>
                </div>
            </div>

            <div class="center col-4 mb-4">
                <h6 class="text-uppercase font-weight-bold">Useful links</h6>
                <hr class="green darken-4 accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <div class="row text-sm-center">
                    <div class="col-12 text-left">
                        <ul class="uselinks">
                            <li><a href="/about#meetteam">Team </a></li>
                            <hr class="bg-light">
                            <li><a href="">About US </a></li>
                            <hr class="bg-light">
                            <li><a href="">Activities </a></li>
                            <hr class="bg-light">
                            <li><a href="">Projects </a></li>
                            <hr class="bg-light">

                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-4 mx-auto mb-md-0 mb-4">
                <h6 class="text-uppercase font-weight-bold">Reach Us</h6>
                <hr class="green darken-4 accent-2 mb-3 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <div class="contact">
                    <p><i class="fal fa-map-marker-alt"></i> P.O. Box -00600 Nairobi, Kenya</p>
                    <p><i class="fal fa-phone-volume"></i> +2547....</p>
                    <p><i class="fal fa-envelope"></i> info@.org</p>
                </div>

            </div>
        </div>
    </div>

    <section class=" text-center mb-4">
        <a class="btn btn-outline-light m-1" href="#!" role="button"><i class="icon ion-social-facebook"></i></a>
        <a class="btn btn-outline-light m-1" href="#!" role="button"><i class="icon ion-social-twitter"></i></a>
        <a class="btn btn-outline-light m-1" href="#!" role="button"><i class="icon ion-social-google"></i></a>
        <a class="btn btn-outline-light m-1" href="#!" role="button"><i class="icon ion-social-instagram"></i></a>

    </section>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Copyright © Daraja-CIF 2022 | All Rights Reserved. <br> Designed and Developed by
        <a href="#" target='_blank'> JA & JK Technologies</a>
    </div>
</footer>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>