{% load static %}
<style>
    a {
        color: white;
    }

    hr {
        color: white;
        opacity: 50%;
    }
</style>
<footer class="bg-dark text-white footer" style="color: #282d32;">
    <div class=" container-fluid footer-content p-5 t-3 mt-5">
        <div class="row mt-0 row-cols-1 row-cols-lg-3 g-4 ">
            <div class="col mx-auto mb-3 p-1 left">
                <h6 class="text-uppercase font-weight-bold">DARAJA CIVIC INITIATIVE FORUM</h6>
                <hr class="green darken-4 accent-2 mb-3 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <hr>

                <img src="{% static 'assets/logo.png' %}" alt="" class="img-fluid mt-0 mb-0 footerlogo">
                <p class="text-left">Daraja Civic Initiatives Forum is a national NGO registered in Kenya with a
                    focus on three thematic areas,namely; Early Childhood Care,Education & Development(ECCED),governance(social accountability),and basic education.
                </p>
                <div class="col-md-6 col-lg-7 d-flex justify-content-around align-items-center w-75">
                    <!-- <a class="fb-ic"><i class="fa fb fa-facebook-f white-text mr-4"> </i></a>
                    <a class="tw-ic"><i class="fa tweet fa-twitter white-text mr-4"> </i></a>
                    <a class="ins-ic"><i class="fa insta fa-instagram white-text"> </i></a> -->
                </div>
            </div>

            <div class="center col mb-4">
                <h6 class="text-uppercase font-weight-bold">Useful links</h6>
                <hr class="green darken-4 accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <div class="row text-sm-center">
                    <div class="col-12 text-left">
                        <ul class="uselinks">
                            <li><a href="/about#meetteam">Team </a></li>
                            <hr class="bg-light">
                            <li><a href="{% url 'about' %}">About US </a></li>
                            <hr class="bg-light">
                            <li><a href="{% url 'blog' %}">Blogs </a></li>
                            <hr class="bg-light">
                            <li><a href="{% url 'projects' %}">Projects </a></li>
                            <hr class="bg-light">

                        </ul>
                    </div>
                </div>
            </div>

            <div class="col mx-auto mb-md-0 mb-4">
                <h6 class="text-uppercase font-weight-bold">Reach Us</h6>
                <hr class="green darken-4 accent-2 mb-3 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <div class="contact">
                    <p><i class="fa fa-map-marker"></i> P.O Box 6570 – 00100 – Nairobi, Kenya</p>
                    <p><i class="fa fa-phone"></i> +254720299100 / +2547734950877 </p>
                    <p><i class="fa fa-envelope"></i> darajacivic@gmail.com</p>
                    <p><i class="fa fa-envelope"></i> info@daracif.org.com</p>
                </div>

            </div>
        </div>
    </div>

    <section class=" text-center mb-4">
        <a class="btn btn-outline-light m-1" href="#!" role="button"><i class="icon ion-social-facebook"></i></a>
        <a class="btn btn-outline-light m-1" target="blank" href="https://twitter.com/CivicDaraja" role="button"><i
                class="icon ion-social-twitter"></i></a>
        <a class="btn btn-outline-light m-1" mailto="darajacivic@gmail.com" role="button"><i
                class="icon ion-social-google"></i></a>
        <a class="btn btn-outline-light m-1" href="#!" role="button"><i class="icon ion-social-instagram"></i></a>

    </section>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Copyright © Daraja-CIF {% now "Y" %} | All Rights Reserved. <br> Designed and Developed by
        <a href="#" target='_blank'> <b style="color:aqua">JA & JK</b> Technologies</a>
    </div>
</footer>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="fa fa-arrow-up-short"></i></a>