{% extends 'base.html' %}

{% load static %}

{% block content %}
<div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp" class="d-block w-100" alt="Wild Landscape" />
            <div class="carousel-caption d-none d-md-block">
                <h2>Strong governance within the organizations</h2>
                <p>Advise on policy and strategic direction
                    with management committee
                    and project and learning officers</p>
                <a href="about/" class="btn btn-primary">About us</a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://mdbcdn.b-cdn.net/img/new/slides/042.webp" class="d-block w-100" alt="Camera" />
            <div class="carousel-caption d-none d-md-block">
                <h2>Enhance equitable access to quality education. share best practices, lessons
                </h2>
                <p>Early Childhood Development</p>
                <a href="about/" class="btn btn-primary">Our Programs</a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://mdbcdn.b-cdn.net/img/new/slides/043.webp" class="d-block w-100" alt="Exotic Fruits" />
            <div class="carousel-caption d-none d-md-block">
                <h2>Education to all</h2>
                <p>Daraja is a member of advocacy and professional networks/coalitions with focus on
                    improving childcare spaces in daycare and schools</p>
                <a href="projects/" class="btn btn-primary">Our Projects</a>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev controls" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>
    <a class="carousel-control-next controls" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
</div>
<div class="featured-links row bg-success">
    <a href="" class="featured-link col-md-4 col-sm-4">
        <span>View our Programs</span>
        <strong>Join us now</strong>
    </a>
    <a href="" class="featured-link col-md-4 col-sm-4">
        <span>Become a volunteer</span>
        <strong>Join us now</strong>
    </a>
    <a href="" class="featured-link col-md-4 col-sm-4">
        <span>View our Projects</span>
        <strong>Get involved</strong>
    </a>
</div>
<!-- Main Content -->
<div id="main-container">
    <div class="content">
        <div class="lgray-bg padding-tb75">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-sm-5">
                        <h2 class="block-title">Support of education cause that need<br>urgent attention</h2>
                        <div class="spacer-30"></div>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <div class="spacer-10"></div>
                        <p>Daraja Civic Initiatives Forum (DCIF) works with Ministry of Education to enhance equitable
                            access to quality education. This involves establishment of coordination
                            committees/mechanisms at sub-county, county and national level to discuss) issues for action
                            by MOE, to share best practices, lessons and replicable strategies.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row row-cols-1 row-cols-md-4 g-4">
                <div class="col">
                    <div class="card">
                        <img src="http://daraja-cif.org/upload/carousels/meeting4.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <a class="cProgress" data-complete="88" data-color="F23827"
                                data-toggle="tooltip"><strong></strong></a>
                            <h3 class="post-title"><a href="http://daraja-cif.org/projects">Education
                                </a></h3>
                        </div>
                    </div>
                    <a href="" class="btn btn-primary">View More</a>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="http://daraja-cif.org/upload/carousels/meeting4.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <a class="cProgress" data-complete="88" data-color="F23827"
                                data-toggle="tooltip"><strong></strong></a>
                            <h3 class="post-title"><a href="http://daraja-cif.org/projects">Education
                                </a></h3>
                        </div>
                    </div>
                    <a href="" class="btn btn-primary">View More</a>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="http://daraja-cif.org/upload/carousels/meeting4.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <a class="cProgress" data-complete="88" data-color="F23827"
                                data-toggle="tooltip"><strong></strong></a>
                            <h3 class="post-title"><a href="http://daraja-cif.org/projects">Education
                                </a></h3>
                        </div>
                    </div>
                    <a href="" class="btn btn-primary">View More</a>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="http://daraja-cif.org/upload/carousels/meeting4.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <a class="cProgress" data-complete="88" data-color="F23827"
                                data-toggle="tooltip"><strong></strong></a>
                            <h3 class="post-title"><a href="http://daraja-cif.org/projects">Education
                                </a></h3>
                        </div>
                    </div>
                    <a href="" class="btn btn-primary">View More</a>
                </div>
            </div>
        </div>
        <div class="featured-texts row">
            <div class="featured-text col-md-4 col-sm-4">
                <span>Successful projects</span>
                <strong>14</strong>
            </div>
            <div class="featured-text col-md-4 col-sm-4">
                <span>People Impacted</span>
                <strong>200000 </strong>
            </div>
            <div class="featured-text col-md-4 col-sm-4">
                <span>Total Volunteers</span>
                <strong>120</strong>
            </div>
        </div>
    </div>
</div>


{% endblock %}