{% extends 'base.html' %}

{% load static %}

{% block content %}

{% include 'navbar.html' %}
<div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp" class="d-block w-100" alt="Wild Landscape" />
            <div class="carousel-caption d-none d-md-block">
                <h2>Strong governance within the organizations</h2>
                <p>Advise on policy and strategic direction
                    with management committee
                    and project and learning officers</p>
                <a href="https://darajacif.org/about-us" class="btn btn-primary">About us</a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://mdbcdn.b-cdn.net/img/new/slides/042.webp" class="d-block w-100" alt="Camera" />
            <div class="carousel-caption d-none d-md-block">
                <h2>Enhance equitable access to quality education. share best practices, lessons
                </h2>
                <p>Early Childhood Development</p>
                <a href="https://darajacif.org/programs" class="btn btn-primary">Our Programs</a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://mdbcdn.b-cdn.net/img/new/slides/043.webp" class="d-block w-100" alt="Exotic Fruits" />
            <div class="carousel-caption d-none d-md-block">
                <h2>Education to all</h2>
                <p>Daraja is a member of advocacy and professional networks/coalitions with focus on
                    improving childcare spaces in daycare and scho</p>
                <a href="https://darajacif.org/projects" class="btn btn-primary">Our Projects</a>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev controls" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>
    <a class="carousel-control-next controls" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
</div>
<div class="featured-links row bg-success">
    <a href="http://daraja-cif.org/contact-us" class="featured-link col-md-4 col-sm-4">
        <span>View our Programs</span>
        <strong>Join us now</strong>
    </a>
    <a href="http://daraja-cif.org/contact-us" class="featured-link col-md-4 col-sm-4">
        <span>Become a volunteer</span>
        <strong>Join us now</strong>
    </a>
    <a href="http://daraja-cif.org/contact-us" class="featured-link col-md-4 col-sm-4">
        <span>View our Projects</span>
        <strong>Get involved</strong>
    </a>
</div>
{% endblock %}