{%extends 'base.html'%}

{% block content %}
{% include 'headernav.html' with pagetitle='Site Mails' navtitle='Mails' %}
<br>
<div class="container">
    {% for contact in contacts%}
    <div class="col-md-10 bg-success carousel-bg d-flex text-white p-4 align-items-center">
        <div class="">
            <h4><span class="badge badge-dark h3">From:{{contact.fullname}}</span></h4>
            <h5 class=" font-weight-bold" style="line-height: 1; ">Email:{{contact.email}}
                </h5>
            <p>{{contact.message}}</p>
        </div>
    </div>
    <br>
    {% endfor %}
</div>
{% endblock %}