{% load static %}
{% block content %}
<div class="text-center mt-5">
    <h2 style="font-family: 'Patrick Hand', cursive; text-align:center">OUR<b style="color: rgb(4, 190, 4)">
            PROGRAMS</b></h2>
    <hr class="green darken-4 accent-2 mb-3 mt-0 d-inline-block mx-auto" style="width: 70px;">
</div>

<section class="programs pt-5 pb-5">
    <div class="container program_container">
        <label class="accordion accordion--1" for="open-1">
            <input class="accordion__open" id="open-1" type="radio" name="acoordion-1">
            <input class="accordion__close" id="close-1" type="radio" name="acoordion-1">
            <div class="accordion__tab"></div>
            <div class="accordion__wrapper">
                <dl class="accordion__box">
                    <dt class="accordion__patition">

                        <span class="accordion__number">01</span>
                        <span class="accordion__title">Early Childhood Development</span>
                    </dt>
                    <dd class="accordion__text">We deliver our mandate through research, learning facilitation,
                        community
                        mobilization, advocacy/policy engagements, capacity building, and service delivery. Daraja is a
                        member of
                        advocacy and professional networks/coalitions such as Kenya ECD Network and Elimu Yetu
                        Coalition.
                    </dd>
                </dl>
            </div>
            <label for="close-1" class="accordion__button">
                <span class="accordion__buttonText">Close</span>
            </label>
        </label>

        <label class="accordion accordion--2" for="open-2">
            <input class="accordion__open" id="open-2" type="radio" name="acoordion-2">
            <input class="accordion__close" id="close-2" type="radio" name="acoordion-2">
            <div class="accordion__tab"></div>
            <div class="accordion__wrapper">
                <dl class="accordion__box">
                    <dt class="accordion__patition">
                        <span class="accordion__number">02</span>
                        <span class="accordion__title">Education</span>
                    </dt>
                    <dd class="accordion__text">Daraja has also participated in a number of policies
                        forums & processes including:
                        i. APBET Policy development for low cost private schools located in the non-formal settlements.
                        ii. ECDE policy review Ministry of Education.
                        iii. Daraja has supported the legislation of the Child care Facilities Act 2017 for Nairobi city
                        County
                    </dd>
                </dl>
            </div>
            <label for="close-2" class="accordion__button">
                <span class="accordion__buttonText">Close</span>
            </label>
        </label>


        <label class="accordion accordion--3" for="open-3">
            <input class="accordion__open" id="open-3" type="radio" name="acoordion-3">
            <input class="accordion__close" id="close-3" type="radio" name="acoordion-3">
            <div class="accordion__tab"></div>
            <div class="accordion__wrapper">
                <dl class="accordion__box">
                    <dt class="accordion__patition">
                        <span class="accordion__number">03</span>
                        <span class="accordion__title">Governance and Civic Participation.</span>
                    </dt>
                    <dd class="accordion__text">Daraja has a strong Governance structure led by a 10-member board of
                        management,
                        whose role is to advise on policy and strategic direction. A secretariat headed by a programs
                        manager,
                        assisted by project coordinators who head the 3 core program areas: together with the Finance
                        grants officer
                        form the management committee. Daraja also has a seasoned M&E department headed by a Monitoring,
                        evaluation
                        and learning officer. To support program activities is a pool of project officers, trainers,
                        Community
                        Resource persons.</dd>
                </dl>
            </div>
            <label for="close-3" class="accordion__button">
                <span class="accordion__buttonText">Close</span>
            </label>
        </label>
        <label class="accordion accordion--4" for="open-4">
            <input class="accordion__open" id="open-4" type="radio" name="acoordion-4">
            <input class="accordion__close" id="close-4" type="radio" name="acoordion-4">
            <div class="accordion__tab"></div>
            <div class="accordion__wrapper">
                <dl class="accordion__box">
                    <dt class="accordion__patition">
                        <span class="accordion__number">04</span>
                        <span class="accordion__title">Education</span>
                    </dt>
                    <dd class="accordion__text">Daraja has also participated in a number of policies
                        forums & processes including:
                        i. APBET Policy development for low cost private schools located in the non-formal settlements.
                        ii. ECDE policy review Ministry of Education.
                        iii. Daraja has supported the legislation of the Child care Facilities Act 2017 for Nairobi city
                        County
                    </dd>
                </dl>
            </div>
            <label for="close-4" class="accordion__button">
                <span class="accordion__buttonText">Close</span>
            </label>
        </label>

    </div>
    </div>
</section>
{% endblock %}