{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    .project_content {
        padding: 5%;
    }

    .page-list img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        padding-top: 3%;
        padding: 0 15px 15px 0;
        background: linear-gradient(rgb(3, 3, 73) 0 0) 100% 100% / 60% 60% no-repeat;
        clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%, 0 30%);
    }

    @media (max-width: 650px) {

        .page-list img {
            padding: 0 0px 0px 0;
            clip-path: polygon(0% 0, 100% 0, 100% 100%, 0 100%, 0 00%);
        }
    }

    .page-list p {
        margin: 0;
        /* text-indent: 1rem; */
        text-align: justify;
        display: -webkit-box;
        -webkit-line-clamp: 8;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .image-block {
        height: auto;
    }

    .project-title {
        font-weight: 500;
        color: rgb(29, 156, 29);
    }
</style>
{% include 'headernav.html' with pagetitle='Our Projects' navtitle='Projects' %}

<section class="project_content">
    <div class="container-fluid">
        <div class="page-list mb-5 ">
            {% for project in allproject %}
            {% if forloop.counter|divisibleby:"2" == 0 %}
            <div class="row mb-5">
                <div class="col-lg-6 text-block d-inline-block">
                    <div data-aos="fade-right" data-aos-duration="1800" class=" project page-description">
                        <hr class="mt-0 mb-3">
                        <h4 class="project-title mb-3">{{project.proj_title}}</h4>
                        <p>{{project.proj_description}}</p>
                        <a class="btn-link" href="{% url 'projectdtls' %}">{{project.proj_date}}</a>
                        <a class="btn-link" href="{% url 'projectdtls' %}">Learn more</a>
                    </div>
                </div>
                <div class="col-lg-6 image-block">
                    <a href="">
                        <img data-aos="fade-up" data-aos-duration="1800" src="{{project.proj_image.url}}"
                            class="imgRight d-block w-100" alt="Project Image" />
                    </a>
                </div>
            </div>
            {% else %}
            <div class="row mb-5 flex-row-reverse">
                <div class="col-lg-6 text-block d-inline-block">
                    <div data-aos="fade-left" data-aos-duration="1800" class="page-description">
                        <hr class="mt-0 mb-3">
                        <h4 class="project-title mb-3">{{project.proj_title}}</h4>
                        <p>{{project.proj_description}}</p>
                        <a class="btn-link" href="{% url 'projectdtls' %}">{{project.proj_date}}</a>
                        <a class="btn-link" href="{% url 'projectdtls' %}">Learn more</a>
                    </div>
                </div>
                <div class="col-lg-6 image-block">
                    <a href="">
                        <img data-aos="fade-up" data-aos-duration="1800" src="{{project.proj_image.url}}"
                            class="imgRight d-block w-100" alt="Project Image" />
                    </a>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}